spring:
  application:
    name: AMS

  datasource:
    url: jdbc:postgresql://localhost:5432/ams_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration
  docker:
    compose:
      enabled: false
server:
  port: 8080
